.clusterNode {
    background-color:white;
    border:3px solid #346789;
    text-align:left;
    cursor:pointer;
    border-radius:0.5em;
    position:absolute;
    color:black;
    width:100px;
    height:20px;
    line-height: 20px;
	padding: 5px;
}
.indexNode {
    background-color:white;
    border:3px solid #346789;
    text-align:center;
    cursor:pointer;
    border-radius:0.5em;
    color:black;
    width:140px;
	padding: 5px;
}	
.shardNode {
    background-color:white;
    border:3px solid #346789;
    text-align:left;
    cursor:pointer;
    border-radius:0.5em;
    color:black;
    width:130px;
	padding: 5px;
}
.clusterName {
    background-color:white;
    border:3px solid rgb(0,100,255);
    text-align:center;
    cursor:pointer;
    border-radius:1em;
    color:black;
    padding:0.5em;
    width:140px;
	padding: 5px;
}


.clusterNode:hover {
    border:2px solid rgb(0,0,155);
	background-color:rgb(153, 255, 204);
	color: rgb(255,0,0);
	text-shadow: 0px -1px #97A63A;
}

.indexNode:hover {
    border:2px solid rgb(0,0,155);
	background-color:rgb(153, 255, 204);
}
.shardNode:hover {
    border:2px solid rgb(0,0,155);
	background-color:rgb(153, 255, 204);
}

.aLabel {
    background-color: white;
    padding: 0.4em;
    font: 12px sans-serif;
    color: #444;
    border: 1px solid blue;
    opacity: 0.6;
	border-radius:10px;
    filter: alpha(opacity=10);
    cursor: pointer;
}

.aLabel._jsPlumb_hover {
    background-color: #5C96BC;
    color: white;
    border: 1px solid white;
}

.endPoint {
	color: red;
}

.endPoint:hover {
	color: green;
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: left;
  font-size: 12px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  z-index:100;
  white-space: pre-line;
}
/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
  font-size: 12px;
  white-space: pre-line;
  width:200px;
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px); 
}

